    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-column align-items-start vh-100 font2 sticky-top">
        <p class="font3 ml-1 mb-4 mt-3">Bem vindo, <a class="navbar-brand mb font2" href="#">{{user}}</a></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex flex-column" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex flex-column">
                <li class="nav-item">
                    <a class="nav-link font" href="#home-page">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font" href="#">História</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font" href="#/vocation">Vocações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font" href="#character">Meu Personagem</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Vocações
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mago</a>
                        <a class="dropdown-item" href="#">Arqueiro</a>
                        <a class="dropdown-item" href="#">Guerreiro</a>
                        <a class="dropdown-item" href="#">Assassino</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link font" href="#adventure">Aventura</a>
                </li>
            </ul>                    
        </div>
    </nav>
