<div class="container-fluid">    
    <div class="row">
        <!-- ! Menu -->
        <div class="col-md-2 p-0">
            <app-menu></app-menu>
        </div>
        <!-- ! /Menu -->

        <!-- todo Cards -->
        <div class="col-md-10 py-5 bg_home">
            
            <div>
                <h1 class="text-center vocation mb-4">Vocações</h1>
            </div>

            <div class="card-deck">

                <!-- ? Card Knight -->
                <div class="col-md-6">
                    <div class="card bord" id="bgKnight">
                        <img src="/assets/img/Knight.png" class="card-img-top" alt="...">
                        <div class="card-body text-justify">
                            <h3 class="card-title text-center text title">Cavaleiro</h3>
                            <div class="font">
                                <p class="card-text">&nbsp;Os Cavaleiros são conhecidos pela sua coragem e resistência.
                                    Uma vocação de combate corpo-a-corpo, geralmente a linha de frente de uma batalha.
                                    Possuem sua defesa alta, devido ao seu treinamento duro, mas não pense que o ataque
                                    deles é fraco, podem te surpreender.</p>
                                <p>&nbsp;Normalmente utilizam escudo em um das mãos e uma arma (Espada de uma mão,
                                    Machado, Martelo) na outra. Mas, possuem aqueles que carregam armas mais pesadas de
                                    duas mãos que provocam um estranho na batalha.</p>
                                <p>&nbsp;Como é uma vocação que foca muito na força física, sua ligação com a magia é
                                    muito fraca. Alguns
                                    se aventuram na magia, mas vale lembrar que não é o seu forte.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ? /Card Knight -->

                <!-- * Card Archer -->
                <div class="col-md-6">
                    <div class="card bord text-justify" id="bgArcher">
                        <img src="/assets/img/Archer.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title text-center text title">Arqueiro</h3>
                            <div class="font">
                                <p class="card-text">&nbsp;Os Arqueiros são muito conhecidos pela sua precisão,
                                    agilidade e por serem ótimos caçadores e rastreadores. Uma vocação de combate a
                                    distância, sempre dando cobertura para os seus companheiros durante as batalhas.
                                    Apesar de não serem conhecidos pela sua defesa, o seu ataque é impressionante,
                                    normalmente responsáveis pela maior parte do dano e pelo número de eliminações.</p>
                                <p>&nbsp;Sempre carregando seus arcos nas costas juntamente com suas flechas, mas não
                                    pense que eles só carregam esssa arma, costumam carregar mais de uma faca ou adaga,
                                    então não subestime o seu ataque corpo-a-corpo.</p>
                                <p>&nbsp;Diferente dos Cavaleiros os Arqueiros possuem grande afinidade com a magia,
                                    principalmente as de agilidade e rastreamento.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- * /Card Archer -->

                <!-- todo Card Mage -->
                <div class="col-md-6 mt-2">
                    <div class="card bord" id="bgMage">
                        <img src="/assets/img/Mage.png" class="card-img-top" alt="...">
                        <div class="card-body text-justify">
                            <h3 class="card-title text-center text title">Mago</h3>
                            <div class="font">
                                <p class="card-text">&nbsp;Os Magos são conhecidos pela sua sabedoria e o seu dom para
                                    magia. Uma vocação híbrida, podendo ser suporte ou voltada para ataques em área
                                    destrutivos. Apesar de não serem tão equilibrados no ataque e defeso como os
                                    Cavaleiros, não deixam a desejar no combate corpo-a-corpo, mas sem dúvida o seu
                                    principal poder é a magia.</p>
                                <p>&nbsp;O cajado é a sua principal arma e apesar de ser feito de madeira não pense que
                                    ele irá ser quebrado por uma espada, o encantamento em volta dele é extremamente
                                    poderoso.</p>
                                <p>&nbsp;Não sendo mistério para ninguem o Mago é um especialista da magia, mas existe
                                    um limite nessa vocação, um mago voltado para o ataque não consegue se aprofundar na
                                    magia de cura e vice-versa. Como eles não tem uma afinidade por armas de combate
                                    físico, eles costumam praticar artes marciais.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- todo /Card Mage -->

                <!-- ! Card Assassin -->
                <div class="col-md-6 mt-5">
                    <div class="card bord" id="bgAssassin">
                        <img src="/assets/img/Assassin.png" class="card-img-top" alt="...">
                        <div class="card-body text-justify">
                            <h3 class="card-title text-center text title">Assassino</h3>
                            <div class="font">
                                <p class="card-text">&nbsp;Os Assassinos são conhecidos pela sua agilidade, camuflagem e
                                    sua capacidade de matar um alvo rapidamente. Apesar de usarem armas de combate
                                    corpo-a-corpo como os Cavaleiro a sua defesa não é o seu forte, mas o seu ataque é
                                    impressionante, então não o subestime.</p>
                                <p>&nbsp;Normalmente usam adagas como arma e como são especialistas em matar, costumam
                                    banhar suas armas com veneno ou com fortes remédios paralisantes. Assim como os
                                    Arqueiros a sua magia é focada na agilidade.</p>
                                <p>&nbsp;São conhecidos como mercenários, então se deseja um Assassino como companheiro
                                    de batalha venha com muitas moedas de ouro. São extremamente profissionais, então
                                    não se preocupe caso o contrate, mas assim que o contrato acabar fique alerta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ! Card Assassin -->

            </div>
        </div>
        <!-- todo /Cards -->
    </div>
</div>