<div class="row m-0">
    <!-- ! Menu -->
    <div class="col-md-2 p-0">
        <app-menu></app-menu>
    </div>
    <!-- ! /Menu -->
    <div class="col-md-10 vh-100 bg_home">
        <h1 *ngIf="user.characterModel != null" class="text-center mt-5 mb-0 font">Meu Personagem</h1>
        <!-- TODO Create Character -->
        <div class="d-flex justify-content-center" *ngIf="user.characterModel == null">
            <div class="col-md-8 d-flex justify-content-center">
                <!-- ? button Create-->
                <button class="btn btn-outline-dark" id="buttonCharacter" data-toggle="modal" data-target="#create"
                    type="button">Criar Personagem</button>
                <!-- ? /button Create-->
                <!-- ! Modal-->
                <div class="modal fade bgModal " id="create" data-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content modalSpace" id="img2">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Personagem</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- ! form Character-->
                                <form>

                                    <!-- * Name-->
                                    <div class="form-group">
                                        <label for="name">Nome</label>
                                        <input [(ngModel)]="character.name" type="text" class="form-control" id="name"
                                            name="name" placeholder="Nome do personagem">
                                    </div>
                                    <!-- * /Name-->
                                    <!-- TODO Gender -->
                                    <div class="form-group">
                                        <label for="gender">Sexo</label>
                                        <select name="gender" id="gender" class="form-control"
                                            (change)="choiceGender($event)">
                                            <option>Escolha um sexo</option>
                                            <option value="Feminino">Feminino</option>
                                            <option value="Masculino">Masculino</option>
                                        </select>
                                    </div>
                                    <!-- TODO /Gender -->
                                    <!-- ? Race-->
                                    <div class="form-group">
                                        <label for="race">Raça</label>
                                        <select name="race" id="race" class="form-control"
                                            (change)="choiceRace($event)" >
                                            <option disabled selected>Escolha uma raça</option>
                                            <option value="Elfo">Elfo</option>
                                            <option value="Anao">Anão</option>
                                            <option value="Humano">Humano</option>
                                        </select>
                                    </div>
                                    <!-- ? /Race-->
                                    <div *ngIf="race != ''">
                                        <!-- ! Vocation-->
                                        <div class="form-group">
                                            <label for="vocation">Vocação</label>
                                            <select name="vocation" id="vocation" class="form-control"
                                                (change)="choiceVocation($event)">
                                                <option id="escolha" value="escolha">Escolha uma vocação</option>
                                                <option value="Arqueiro">Arqueiro</option>
                                                <option value="Mago">Mago</option>
                                                <option value="Cavaleiro">Cavaleiro</option>
                                                <option *ngIf="race == 'Humano'" value="Assassino">Assassino</option>
                                            </select>
                                        </div>
                                        <!-- ! /Vocation-->
                                        <!-- TODO Attributes-->
                                        <div class="d-flex justify-content-center">
                                            <!-- * Attribute Archer-->
                                            <div class="bg-transparent p-3 borderAt" *ngIf="vocation == 'Arqueiro'">
                                                <img class="img" src="/assets/img/Archer.png" alt="Symbol Archer">
                                                <h6>Ataque Físico: 1400</h6>
                                                <hr>
                                                <h6>Ataque Mágico: 700</h6>
                                                <hr>
                                                <h6>Defesa: 500</h6>
                                                <hr>
                                                <h6>Vida: 800</h6>
                                            </div>
                                            <!-- * /Attribute Archer-->
                                            <!-- TODO Attribute Mage-->
                                            <div class="bg-transparent p-3 borderAt" *ngIf="vocation == 'Mago'">
                                                <img class="img" src="/assets/img/Mage.png" alt="Symbol Mage">
                                                <h6>Ataque Físico: 300</h6>
                                                <hr>
                                                <h6>Ataque Mágico: 1350</h6>
                                                <hr>
                                                <h6>Defesa: 700</h6>
                                                <hr>
                                                <h6>Vida: 750</h6>
                                            </div>
                                            <!-- TODO /Attribute Mage-->
                                            <!-- ! Attribute Knight-->
                                            <div class="bg-transparent p-3 borderAt" *ngIf="vocation == 'Cavaleiro'">
                                                <img class="img" src="/assets/img/Knight.png" alt="Symbol Knight">
                                                <h6>Ataque Físico: 800</h6>
                                                <hr>
                                                <h6>Ataque Mágico: 200</h6>
                                                <hr>
                                                <h6>Defesa: 1300</h6>
                                                <hr>
                                                <h6>Vida: 1500</h6>
                                            </div>
                                            <!-- ! /Attribute Knight-->
                                            <!-- ? Attribute Assassin-->
                                            <div class="bg-transparent p-3 borderAt" *ngIf="vocation == 'Assassino' && race == 'Humano'">
                                                <img class="img" src="/assets/img/Assassin.png" alt="Symbol Assassin">
                                                <h6>Ataque Físico: 1450</h6>
                                                <hr>
                                                <h6>Ataque Mágico: 500</h6>
                                                <hr>
                                                <h6>Defesa: 600</h6>
                                                <hr>
                                                <h6>Vida: 800</h6>
                                            </div>
                                            <!-- ? /Attribute Assassin-->
                                        </div>
                                        <!-- TODO /Attributes-->
                                    </div>

                                </form>
                                <!-- ! /form Character-->
                            </div>

                            <!-- ? buttons -->
                            <div class="d-flex justify-content-center mb-3" data-dismiss="modal">
                                <button type="button" class="btn btn-outline-success mr-2"
                                    (click)="createCharacter()">Criar</button>
                                <button type="button" class="btn btn-outline-danger ml-2"
                                    data-dismiss="modal">Cancelar</button>
                            </div>
                            <!-- ? /buttons -->

                        </div>
                    </div>
                </div>
                <!-- ! /Modal-->
            </div>
        </div>
        <!-- TODO /Create Character -->

        <!-- * Character-->
        <div class="d-flex justify-content-center">
            <div class="col-md-6 mt-3" *ngIf="user.characterModel != null">
                <div class="bgJumb m-0 p-5">
                    <h1 class=" font1">{{user.characterModel.name}} - {{user.characterModel.race}}(<img
                            *ngIf="character.gender == 'Masculino'" class="img3" src="/assets/img/Male.png"
                            alt="Sex Male"> <img *ngIf="character.gender == 'Feminino'" class="img3"
                            src="/assets/img/Female.png" alt="Sex Female">) </h1>
                    <h4 class=" font1"><img *ngIf="user.characterModel.vocation == 'Mago'" class="img1"
                            src="/assets/img/Mage.png" alt="Symbol Mage">
                        <img *ngIf="user.characterModel.vocation == 'Arqueiro'" class="img1"
                            src="/assets/img/Archer.png" alt="Symbol Archer">
                        <img *ngIf="user.characterModel.vocation == 'Cavaleiro'" class="img1"
                            src="/assets/img/Knight.png" alt="Symbol Knight">
                        <img *ngIf="user.characterModel.vocation == 'Assassino'" class="img1"
                            src="/assets/img/Assassin.png" alt="Symbol Assassin">
                        {{user.characterModel.vocation}}
                    </h4>
                    <hr class="my-3">
                    <div>
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <img *ngIf="character.gender == 'Masculino'" src="/assets/img/He.png" alt="Male">
                                <img *ngIf="character.gender == 'Feminino'" src="/assets/img/She.png" alt="Woman">
                            </div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <div class="borderAt bg-light p-3">
                                    <h3 class="text-center font2">Atributos</h3>
                                    <hr>
                                    <h5 class=" font2">Ataque Físico: <span
                                            class="text-success">{{character.attributeModel.physicalDamage}}</span></h5>
                                    <hr>
                                    <h5 class=" font2">Ataque Mágico: <span
                                            class="text-success">{{character.attributeModel.magicDamage}}</span></h5>
                                    <hr>
                                    <h5 class=" font2">Ataque Mágico: <span
                                            class="text-success">{{character.attributeModel.defense}}</span></h5>
                                    <hr>
                                    <h5 class=" font2">Vida: <span
                                            class="text-success">{{character.attributeModel.health}}</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- * /Character-->

    </div>
</div>