<!-- <div class="container-fluid" *ngIf="auth.online()"> -->
<div class="container-fluid m-0" >
    <div class="row">
        <div class="col-md-2 pl-0 pr-0 font2">
            <app-menu></app-menu>
        </div>

        <div class="col-md-10"  id="bg_home">

            <h1 class="text-center pt-5 font2">Nefelus</h1>

            <div class="col-12 mt-5 d-flex justify-content-center bg-dark p-5 font" id="bord">
                <div>
                    <button class="carousel-control-prev bg-transparent border-0" type="button"
                    data-target="#carouselExampleFade" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-transparent" id="arrowL" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                </div>
                <div id="carouselExampleFade" class="carousel slide carousel-fade ml-5 mr-5" data-ride="carousel">
                    <div class="carousel-inner  text-justify">
                        <div class="carousel-item active d-flex justify-content-center" id="forest">
                            <img src="https://i.pinimg.com/originals/02/f2/a6/02f2a6f010ab7885a6324d4f426312e9.png"
                                class="d-block" height="500" width="400" alt="Elfos">
                            <div class="card border-success mt-3 mb-3 bg-transparent" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center text-success text">Elfos</h5>
                                    <p class="card-text text" >Uma raça conhecida por viver em florestas e pelo seu amor a
                                        natureza. Também são vistos como ótimos arqueiros, devido a sua grande precisão.
                                    </p>
                                    <p class="text">São seres belos, possuem uma longevidade e sua principal característica é suas
                                        orelhas pontudas.</p>
                                    <p class="text">Um povo com belas músicas e que evitam contato com as outras raças.</p>
                                </div>
                            </div> 
                            <img src="assets/img/FemaleElf.png"
                                class="d-block" height="500" width="400" alt="Elfos">
                        </div>
                        <div class="carousel-item d-flex justify-content-center align-items-center" id="mountain">
                            <img src="/assets/img/DwarfMan.png"
                            class="d-block" height="450" width="350" alt="DwarfMan">
                        <div class="card border-info mt-4 mb-3 bg-transparent" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center text-info text">Anões</h5>
                                <p class="card-text text textColor">Uma raça conhecida por possuir grandes mestres ferreiros. Possuem 
                                    um grande mal humor com estrangeiros, mas amam uma festa e bebidas.
                                </p>
                                <p class="text textColor">Sua principal característica é o seu tamanho, mas não os subestimem são grandes guerreiros
                                    e dificilmente desistem de uma batalha.</p>
                                <p class="text textColor">Gostam de morar nas montanhas, pois é la que os minérios raros estão.</p>
                            </div>
                        </div> 
                        <img src="https://www.rederpg.com.br/wp/wp-content/uploads/2016/08/DD_Races_Dwarf.png"
                            class="d-block mt-5 ml-5" height="400" width="300" alt="DwarfWoman">
                        </div>
                        <div class="carousel-item d-flex justify-content-center" id="castle">
                            <img src="/assets/img/Man.png"
                            class="d-block" height="500" width="400" alt="Man">
                        <div class="card border-warning mt-3 mb-3 bg-transparent" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center text-warning font">Humanos</h5>
                                <p class="card-text text">Os humanos, uma raça complicada devido a sua ganância pelo poder.
                                    É considerada uma raça frágil devida a falta de longevidade, mas sempre revelou ótimos guerreiros.
                                </p>
                                <p class="text">São grandes comerciantes, principalmente no comércio de carnes e peixes.</p>
                                <p class="text">Dentre todas as raças é a única que possui Assassinos, devido a falta de mobilidade
                                    dos anões e a cultura pacífica dos elfos.
                                </p>
                            </div>
                        </div> 
                        <img src="/assets/img/Woman.png"
                            class="d-block mt-5" height="420" width="400" alt="Woman">                        </div>
                    </div>
                </div>
                <div>
                    <button class="carousel-control-next bg-transparent border-0" type="button" data-target="#carouselExampleFade"
                    data-slide="next">
                    <span class="carousel-control-next-icon bg-transparent" id="arrowR" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
                </div>
            </div>

        </div>
    </div>
</div>